# sharing my credentials, intially to run the application.
# due to my account, only OTP will be delivered to my mobile number itself.
PORT=5000
MONGO_URI=mongodb+srv://satheeshpayyavula_db_user:sateesh123@cluster0.wssiycx.mongodb.net/otpdb?appName=Cluster0
JWT_SECRET=DSFUKSDFUSFSDFSJDFSDKJFKSDF28372378262UKK3KUH2H328278323H

TWILIO_ACCOUNT_SID=ACfea531ba3c03e6aa5eb5b2569137a117
TWILIO_AUTH_TOKEN=6c3573ca65375db76368da5405c068c4
TWILIO_PHONE=+18722313448