# sharing my credentials, intially to run the application.
# due to my account, only OTP will be delivered to my mobile number itself.
PORT=5000
MONGO_URI=yourDb
JWT_SECRET=DSFUKSDFUSFSDFSJDFSDKJFKSDF28372378262UKK3KUH2H328278323H

TWILIO_ACCOUNT_SID=YOUR_TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=YOUR_TWILIO_AUTH_TOKEN
TWILIO_PHONE=YOUR_TWILIO_PHONE